//practicing mixin syntax
@mixin borderBottom($w, $app, $col) {
    border-bottom: $w $app $col;
} 

main {
    padding-top: 20px;
    display: grid;
    row-gap: 30px;
    & > div > h1 {
        text-align: center;
    }
}
#main-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100vh;
    #preview {
        font-family: sans-serif;
        border: solid 1px;
        overflow: auto;
        & > * {
            margin-bottom: 20px;
        }
        &.prev-dark {
            pre {
                background-color: white;
                color: black;
            }
            code {
                background-color: white;
                color: black;
            }
        }
    }
    pre {
        color: #26ec10;
        background-color: black;
        line-height: 25px;
        padding: 10px;
    }
    code {
        color: #26ec10;
        background-color: black;
    }
    textarea {
        resize: none;
        &:focus {
            outline: none;
        }
    }
    h1 {
        @include borderBottom(3px, solid, black);
    }
    h2 {
        @include borderBottom(1px, solid, black)
    }
    img {
        width: 100%;
        height: auto;
    }
    ul, ol {
        margin-left: 30px;
    }
    #editor-container, #preview-container {
        width: 48%;
        height: 90%;
        border-radius: 10px;
        border: solid 2px;
        overflow-y: auto;
        & > p {
            display: grid;
            align-items: center;
            border-bottom: solid 2px;
            height: 40px;
            padding-left: 30px;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    #editor-container {
        overflow: hidden;
    }
    textarea, #preview {
        padding: 30px;
        width: 100%;
        border: none;
        height: calc(100% - 40px);
    }
    table {
        text-align: left;
        border-collapse: collapse;
        td, th {
            padding: 5px;
            border: solid;
        }
    }
}
.sliding-button {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 80px;
    height: 36px;
    background-color: #000;
    color: #3bba9c;
    border: none;
    border-radius: 15px;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out;
    text-align: right;
    padding: 10px;
    font-size: 1rem;
  }
  
  .slider {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.2s ease-in-out;
  }
  
  .dark {
    background-color: #3bba9c; /* Adjust color for checked state */
    color: #fff;
    text-align: left;
  }
  
  .dark .slider {
    transform: translateX(44px); /* Adjust sliding distance */
  }



